body, table, form, ul, ol, h1, h2, h3, div, span {
	font: 12pt/1.5em sans-serif;
	padding: 0;
	margin: 0;
}

#wrapper {
	max-width: 900px;
	position: relative;
	overflow: hidden;
	padding: 30px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

#wrapper > #regular {
	width: 100%;
}

#wrapper > #shutdown {
	width: 100%;
	height: 100vh;
	font-size: 200%;
	text-align: center;
}

#wrapper > #shutdown.visible,
#wrapper > #shutdown.failed {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#wrapper > #shutdown.visible > :not(.failed) {
	display: block;
}
#wrapper > #shutdown.visible > .failed {
	display: none;
}

#wrapper > #shutdown.failed > :not(.failed) {
	display: none;
}
#wrapper > #shutdown.failed > .failed {
	display: block;
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	padding: 0.5em;
	background: red;
	color: white;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	margin: 1em 0 0.3em 0;
}

h2 {
	font-size: 160%;
	font-weight: normal;
	margin: 1em 0 0.3em 0;
}

h3 {
	font-size: 130%;
	font-weight: normal;
	margin: 1em 0 0.1em 0;
}

.onscreen h1 {
	margin-top: 0.5em;
	text-align: center;
	font-size: 300%;
	font-weight: bold;
}

p, blockquote, ul {
	margin: 0 0 0.7em 0;
	-webkit-hyphens: auto;
	hyphens: auto;
}

blockquote {
	padding: 1em;
	border-left: 3px solid red;
	background: rgba(255,0,0,0.05);
}

ul {
	padding-left: 2em;
}

input, button {
	display: inline-block;
	line-height: 2em;
	height: 2em;
	box-sizing: content-box;
	padding: 0 1em;
	margin: 0.5em 0;
}

.button {
	display: inline-block;
	line-height: 2em;
	height: 2em;
	box-sizing: content-box;
	padding: 0 1em;
	margin: 0.5em 0;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.2);
	cursor: pointer;
}

.page.hidden {
	display: none
}

.tabular {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tabular > label {
	width: 33.33%;
	font: normal 22pt/44pt sans-serif;
}

.tabular > label:after {
	content: ":";
}

.tabular > .value {
	font: bold 22pt/44pt sans-serif;
}

#secret > .value {
	font: bold 40pt/44pt monospace;
	letter-spacing: 0.4em;
	transition: color 1s linear;
}

#progress .bar {
	height: 20px;
	position: relative;
	overflow: hidden;
	background: rgba(0,0,0,0.1);
}

#progress .fill {
	height: 20px;
	background-color: green;
	transition: width 1s linear, background-color 1s linear;
}
